@media (max-width:1199px){

    #cuerpo{
        padding-right: 10% !important;
    }

    .inicio{
        margin-bottom: 300px;
    }

    .subtitulo-pestana {
        width: 25% !important;
        margin-bottom: 50px;
    }

    #foto-perfil{
        margin-left: 50px;
        width: 260px;
        position: absolute;
        top: 150px;
    }

    .marco{
        width: 91%;
        height: 410px;
        margin-left: 80px;
        margin-top: 70px;
    }

    .titulo-proyecto a{
        margin-left: 70%;
    }

    .info-proyecto p {
        width: 420px;
        right: 10%;
    }

    .info-proyecto2 p {
        width: 420px;
    }

    #buscador .info-proyecto2 p{
        width: 420px;
    }

    .contacto .boton{
        margin-left: 42%;
    }
}

@media (max-width:991px){

    #cuerpo{
        margin: 0px 60px;
        max-width: 860px;
        padding: 6%;
    }

    .subtitulo-pestana {
        width: 35% !important;
        margin-bottom: 50px;
    }

    #carrito a{
        margin-left: 3%;
    }

    .titulo-proyecto a{
        margin-left: 50%;
    }

    #menu {
        text-align: center;
        margin-top: 130px;
    }

    #navbarNav ul li a {
        font-size: 17px;
        margin-bottom: 20px;
    }

    #navbarNav ul li a span {
        display: block;
    }

    .boton{
        width: 120px;
        margin: 0px auto;
        margin-top: 50px;
    }

    #foto-perfil{
        width: 35%;
        margin-left: 30px;
    }

    .marco{
        width: 94%;
        height: 67%;
        margin-left: 50px;
        margin-top: 100px;
    }

    .proyectos{
        padding: 0px 20px;
    }

    .correoText{
        height: 56px;
    }

    .correoText .linea-vertical{
        bottom: -58%;
    }

}

@media (max-width:880px){

    #foto-perfil {
        width: 27%;
    }

    .marco{
        width: 70%;
        height: 62%;
    }

    #cuerpo{
        padding-left: 0%;
        padding-right: 10%;
    }
}

@media (max-width:824px){

    #cuerpo{
        padding-right: 12%;
        padding-left: 0%;
    }

    .marco{
        height: 60%;
        width: 71%;
    }

    #carrito a{
        font-size: 29px;
    }

    .titulo-proyecto2 a{
        font-size: 30px;
    }

    .contacto{
        padding-left: 0%;
    }
}

@media (max-width:806px){
    .marco{
        height: 55%;
    }
}

@media (max-width:768px){

    .linea-vertical{
        display: none;
    }

    .redes-sociales{
        display: flex;
        position: relative;
        width: 380px;
        height: 20px;
        margin: 0px auto;
        margin-top: 16rem;
        padding-left: 6%;
    }

    footer div{
        padding-top: 0px;
    }

    .icon{
        margin-right: 40px;
    }

    .correo{
        display: none;
    }

    .info-sobreMi{
        width: 100% !important;
    }

    #foto-perfil{
        width: 39%;
        top: 542px;
        margin: 0px auto;
    }

    .cont-fotoPerfil{
        margin-left: 30%;
    }

    .proyectos{
    margin-top: 130px !important;
    }

    .marco{
        border: 2px solid #64ffda;
        height: 420px;
        margin-top: 87px;
        width: 97%;
    }

    .info-proyecto p{
        background: transparent;
        width: 80%;
        text-align: start;
        left: -29%;
    }

    .proyecto1{
        width: 100% !important;
    }

    .el-patron .info-proyecto{
        display: flex;
        position: absolute;
        left: 300px;
        background: transparent;
        top: 2100px;
        z-index: 2;
        width: 100%;
    }

    .el-patron .info-proyecto h4{
        background: transparent;
        margin-bottom: 170px;
    }


    .titulo-proyecto a{
        position: absolute;
        background-color: transparent;
        margin-left: 0%;
        left: -26%;

    }

    .imagen-proyecto{
        position: relative;
        filter: grayscale(100%);
    }

    .capa{
        position: absolute;
        height: 440px;
        width: 85%;
        background-color: #0a192f;
        opacity: 80%;
        z-index: 1;
    }

    .proyecto1 .capa{
        top: 2013px;
        width: 100%;
    }

    .gestion-documental .proyecto2 .capa{
        top: 302%;
        width: 100%;
    }

    .info-proyecto p span{
        background: transparent;
    }

    .info-proyecto2{
        width: 75% !important;
    }

    .proyecto2{
        width: 100% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .gestion-documental .info-proyecto2{
        display: flex;
        position: absolute;
        left: 67%;
        background: transparent;
        top: 2660px;
        z-index: 2;

    }

    .info-proyecto2 p{
        background: transparent;
        width: 100%;
        text-align: start;
        left: -72%;
        margin-top: 30px;
    }

    .titulo-proyecto2 a{
        position: absolute;
        background-color: transparent;
        margin-left: 0%;
        left: -69%;
    }

    .info-proyecto2 p span{
        background: transparent;
    }

    .p-carrito .info-proyecto p{
        position: absolute;
        left: 10%;
        background: transparent;
        top: 3300px;
        z-index: 2;
    }

    #carrito{
        position: absolute;
        background-color: transparent;
        margin-left: 0%;
        left: 12.5%;
        top: 3270px;
        z-index: 2;
    }

    .p-carrito .capa{
        top: 360%;
        height: 610px;
    }

    #buscador .info-proyecto2{
        display: flex;
        position: absolute;
        left: 67%;
        background: transparent;
        top: 445%;
        z-index: 2;
    }

    #buscador .info-proyecto2 p{
        width: 100%;
    }

    #buscador .capa{
        top: 424%;
        height: 610px;
        width: 100%;
    }

}

@media (max-width:762px){
    .marco{
        margin-top: 57px;
    }

    #carrito{
        top: 3220px;
    }

    .p-carrito .info-proyecto p{
        top: 3250px;
    }

    #buscador .info-proyecto2{
        top: 440%;
    }

}

@media (max-width: 740px){
    .gestion-documental .proyecto2 .capa {
        top: 302%;
    }
}

@media (max-width: 710px){
    .el-patron .info-proyecto{
        top: 2080px;
    }

    .gestion-documental .info-proyecto2{
        top: 2620px;
    }

    #carrito{
        top: 3140px;
    }

    .p-carrito .info-proyecto p{
        top: 3170px;
    }

    #buscador .info-proyecto2 {
        top: 436%;
    }

    #buscador .capa {
        top: 410%;
    }
}

@media (max-width: 680px){

    #foto-perfil {
        width: 36%;
        margin-left: 20px;
    }

    #carrito {
        top: 3040px;
    }

    .p-carrito .info-proyecto p {
        top: 3070px;
    }

    #buscador .info-proyecto2 {
        top: 3550px;
    }

    .marco {
        height: 350px;
        margin-top: 44px;
    }

    .proyecto1 .capa {
        top: 1968px;
    }

    .gestion-documental .proyecto2 .capa {
        top: 288%;
    }

    .p-carrito .proyecto1 .capa{
        top: 2870px;
    }

    #buscador .capa{
        height: 520px;
        top: 3360px;
    }

    .contacto{
        padding: 0 60px;
    }

    #cuerpo{
        margin: 0 50px;
    }

    .gestion-documental .info-proyecto2 {
        top: 2560px;
    }

    .el-patron .info-proyecto {
        top: 2059px;
        left: 235px;
    }

    .contacto .boton {
        margin-left: 36%;
    }
}

@media (max-width: 655px){
    .marco {
        height: 350px;
        margin-top: 33px;
    }
}

@media (max-width: 640px){

    #foto-perfil {
        width: 39%;
    }

    #buscador .info-proyecto2 {
        top: 3520px;
    }

    .gestion-documental .proyecto2 .capa {
        top: 2470px;
    }

    .gestion-documental .info-proyecto2 {
        top: 2534px;
    }

    #carrito {
        top: 3020px;
    }

    .p-carrito .info-proyecto p {
        top: 3050px;
    }

    #buscador .capa {
        top: 3425px;
    }

    .redes-sociales{
        padding-left: 7%;
    }
}

@media(max-width: 600px){
    #foto-perfil{
        width: 43%;
    }

    .marco{
        height: 360px;
        margin-top: 30px;
        width: 113%;
    }

    .proyecto1 .capa {
        top: 2010px;
    }

    .el-patron .info-proyecto {
        top: 2100px;
        left: 240px;
    }

    .gestion-documental .info-proyecto2 {
        top: 2570px;
    }

    .p-carrito .info-proyecto p {
        top: 3060px;
    }

    #carrito {
        top: 3030px;
    }

    #buscador .info-proyecto2 {
        top: 3510px;
    }

    .contacto .boton{
        margin-left: 34%;
    }

    .redes-sociales {
        padding-left: 8%;
        margin-top: 10rem;
    }
}

@media(max-width: 574px){
    #foto-perfil{
        margin-top: 70px;
    }

    .intro{
        width: 115% !important;
    }

    .marco{
        height: 350px;
        margin-top: 70px;
    }

    .gestion-documental .proyecto2 .capa {
        top: 2390px;
    }

    .el-patron .info-proyecto {
        top: 2032px;
    }

    .gestion-documental .info-proyecto2 {
        top: 2480px;
    }

    #carrito {
        top: 2910px;
    }

    .p-carrito .info-proyecto p {
        top: 2935px;
    }

    .proyecto1 .capa {
        top: 1940px;
    }

    .p-carrito .proyecto1 .capa {
        top: 2810px;
    }

    .contacto .boton{
        margin-left: 33%;
    }

    .subtitulo-pestana {
        width: 40% !important;
    }

    .nombre {
        font-size: 3.5rem;
        height: 60px;
    }

    .subtitulo{
        font-size: 2.7rem;
        letter-spacing: -0.5px;
        word-spacing: -2.5px;
        margin-bottom: 40px;
    }

    .inicio article{
        width: 410px;
    }

    #buscador .capa {
        top: 3290px;
        height: 450px;
    }

    #buscador .info-proyecto2 {
        top: 3360px;
    }

    .contacto{
        padding: 0 20px;
    }

    #cuerpo {
        margin: 0 40px;
    }

    .contacto h2 {
        font-size: 2.5rem;
    }
}

@media (max-width:555px){

    .proyecto1 .capa {
        top: 1970px;
    }

    .redes-sociales {
        padding-left: 9%;
    }
}


@media (max-width:517px){

    .intro{
        width: 83.33333333% !important;
    }

    #foto-perfil {
        margin-top: 50px;
    }

    .marco {
        height: 323px;
        margin-top: 43px;
    }

    #buscador .info-proyecto2 {
        top: 3660px;
    }

    .el-patron .proyecto1{
        height: 350px;
        width: 100% !important;
        background: url(../images/proyectos/el-patron.png);
        margin: 0px auto;
        background-position: -120px -80px;
        background-size: 750px;
    }

    .el-patron .proyecto1 img{
        display: none;
    }

    .el-patron .info-proyecto {
        top: 2080px;
        left: 210px;
    }

    .info-proyecto p{
        width: 80%;
    }

    .el-patron .info-proyecto h4{
        margin-bottom: 210px;
    }


    .gestion-documental .proyecto2 img{
        display: none;
    }

    .gestion-documental .proyecto2{
        height: 350px;
        width: 100% !important;
        background: url(../images/proyectos/gestion-documental.png);
        margin: 0px auto;
        background-position: -120px -80px;
        background-size: 750px;
    }

    .gestion-documental .proyecto2 .capa {
        top: 2500px;
    }

    .gestion-documental .info-proyecto2 {
        top: 2620px;
    }

    .info-proyecto2 p{
        width: 100%;
    }

    .p-carrito .proyecto1 img{
        display: none;
    }

    .p-carrito .proyecto1{
        height: 350px;
        width: 100% !important;
        background: url(../images/proyectos/carrito.png);
        margin: 0px auto;
        background-position: -149px 0px;
        background-size: 735px;
    }

    .p-carrito .proyecto1 .capa {
        top: 3000px;
        height: 600px;
    }

    #buscador .capa {
        top: 3600px;
    }

    .p-carrito .info-proyecto p {
        top: 3155px;
    }

    #carrito{
        top: 3130px;
    }

    #buscador .proyecto2 img{
        display: none;
    }

    #buscador .proyecto2{
        height: 350px;
        width: 100% !important;
        background: url(../images/proyectos/buscador.png);
        margin: 0px auto;
        background-position: -90px 0px;
        background-size: 597px;
    }
}

@media (max-width:492px){
    .nombre{
        font-size: 2.7rem;
    }

    .marco {
        height: 313px;
        margin-top: 23px;
        margin-left: 35px;
    }

    #foto-perfil {
        margin-left: 0px;
    }

    .subtitulo-pestana {
        width: 45% !important;
    }

    .gestion-documental .proyecto2 .capa {
        top: 2500px;
    }

    .el-patron .info-proyecto {
        top: 2020px;
        left: 190px;
    }

    .gestion-documental .info-proyecto2 {
        top: 2550px;
    }

    .p-carrito .proyecto1 .capa{
        height: 600px;
    }
}

@media (max-width:481px){
    .marco {
        margin-top: 62px;
        height: 370px;
        width: 153%;
        margin-left: 0px;
    }

    #cuerpo {
        margin: 0 24px;
        padding-right: 7%;
    }

    #foto-perfil {
        width: 55%;
        margin-left: -20px;
        margin-top: 90px;
    }

    .proyecto1 .capa {
        top: 2060px;
        width: 100%;
        height: 390px;
    }

    .el-patron .info-proyecto {
        top: 2110px;
        left: 37%;
    }

    .gestion-documental .proyecto2 .capa {
        top: 2436px;
        width: 100%;
        height: 430px;
    }

    .gestion-documental .info-proyecto2 {
        top: 2520px;
        left: 62%;
    }

    #carrito {
        top: 2900px;
    }

    .p-carrito .info-proyecto p {
        top: 2930px;
    }

    .p-carrito .proyecto1 .capa {
        top: 2866px;
        height: 375px;
    }

    #buscador .info-proyecto2 {
        top: 3270px;
        left: 64%;
    }

    .proyectos article {
        margin-bottom: 40px;
    }

    #buscador .capa {
        top: 3241px;
        height: 400px;
        width: 100%;
    }
}

@media (max-width:475px){
    #foto-perfil {
        margin-top: 120px;
    }

    .marco {
        margin-top: 90px;
    }

    .proyectos {
        margin-top: 100px !important;
    }

    .redes-sociales {
        padding-left: 11%;
    }
}

@media (max-width:464px){
    .marco{
        margin-top: 30px;
    }
}

@media (max-width:455px){
    .marco {
        margin-top: 52px;
    }

    #foto-perfil {
        margin-top: 140px;
    }

    .linea{
        width: 40% !important;
        margin-left: 25px;
    }

    .proyecto1 .capa{
        height: 397px;
    }
}

@media (max-width: 421px){
    .marco {
        margin-left: 7px;
        height: 360px;
    }

    .subtitulo-pestana {
        width: 48% !important;
    }
}

@media (max-width: 414px){
    #foto-perfil {
        margin-top: 170px;
    }

    .marco {
        margin-left: 7px;
        height: 320px;
    }
}

@media(max-width:412px){
    .marco{
        height: 320px;
    }

    #foto-perfil{
        margin-top: 200px;
    }

    #buscador .info-proyecto2 {
        top: 3315px;
    }
}

@media (max-width:400px){

    .marco {
        margin-top: 50px;
        height: 312px;
    }

    #buscador .info-proyecto2 {
        top: 3270px;
    }

    .p-carrito .proyecto1 .capa{
        height: 375px;
    }
}

@media (max-width:396px){
    .inicio{
        margin-left: 10px;
    }

    .proyectos .subtitulo-pestana{
        padding-left: 0 !important;
    }

    .el-patron .info-proyecto h4 {
        margin-bottom: 232px;
    }

    .proyecto1 .capa{
        top: 2040px;
    }

    .contacto{
        padding: 0 10px;
    }

    #cuerpo {
        margin: 0 14px;
    }

    .proyectos{
        margin-left: 10px !important;
    }
}

@media (max-width:392px){
    .marco{
        margin-top: 30px;
    }
}

@media (max-width:386px){

    #foto-perfil{
        margin-top: 220px;
    }

    .marco {
        margin-top: 65px;
        height: 305px;
    }

    .proyectos {
        margin-top: 50px !important;
    }

    .linea {
        margin-left: 20px;
    }

    .subtitulo-pestana {
        width: 50% !important;
    }

    #buscador .capa{
        height: 400px;
    }

}

@media (max-width: 381px) {
    .el-patron .info-proyecto h4 {
        margin-bottom: 260px;
    }

    #foto-perfil {
        margin-top: 210px;
    }
}

@media (max-width: 374px) {
    .subtitulo-pestana {
        width: 55% !important;
    }

    .linea {
        margin-left: 10px;
    }
}

@media (max-width: 361px){

    #foto-perfil {
        margin-top: 240px;
    }

    .marco {
        margin-top: 89px;
        height: 287px;
    }

    .subtitulo-pestana {
        width: 54% !important;
    }

    .redes-sociales {
        padding-left: 7%;
    }
}



